
// colors
$primary-color: #222;
$second-color: #fff;
$color-white:#fff;
$color-black:#222;
$color-green:#004001;


// background
$primary-bg-color: #66cc00;
$second-bg-color: #008080;

$primary-font-size:14px;
$second-font-size:18px;

$line-height:28px;